<!DOCTYPE html>
<html>
<head>
    <style>
        .graph-container {
            position: relative;
        }

        .graph-button {
            position: absolute;
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            line-height: 50px;
        }

        .graph-connector {
            position: absolute;
            border: 1px solid #4CAF50;
        }
    </style>
</head>
<body>
    <div class="graph-container">
        <button id="button1" class="graph-button" style="top: 50px; left: 100px;">1</button>
        <button id="button2" class="graph-button" style="top: 150px; left: 200px;">2</button>
        <button id="button3" class="graph-button" style="top: 250px; left: 300px;">3</button>
        <button id="button4" class="graph-button" style="top: 350px; left: 400px;">4</button>
        <button id="button5" class="graph-button" style="top: 250px; left: 500px;">5</button>
        <button id="button6" class="graph-button" style="top: 150px; left: 600px;">6</button>
        <button id="button7" class="graph-button" style="top: 50px; left: 700px;">7</button>

        <div class="graph-connector" style="top: 75px; left: 125px; width: 100px; height: 100px;"></div>
        <div class="graph-connector" style="top: 175px; left: 225px; width: 100px; height: 100px;"></div>
        <div class="graph-connector" style="top: 275px; left: 325px; width: 100px; height: 100px;"></div>
        <div class="graph-connector" style="top: 375px; left: 425px; width: 100px; height: 100px;"></div>
        <div class="graph-connector" style="top: 275px; left: 525px; width: 100px; height: 100px;"></div>
        <div class="graph-connector" style="top: 175px; left: 625px; width: 100px; height: 100px;"></div>
    </div>
</body>
</html>