<!DOCTYPE html>
<html>
<head>
    <title>Send Paragraphs</title>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
            border-radius: 10px;
            background-color: #ffffff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
        }

        h1 {
            color: #007bff;
        }

        .form-group label {
            font-weight: bold;
            color: #343a40;
        }

        .form-control {
            border-color: #343a40;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            margin-right:50px;
            margin-top:50px;
        }

        .btn-hidden {
            margin-right:50px;
            margin-top:50px;
            visibility:hidden;
        }

        .button-container {
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Causal Mapper</h1>
        <div>
            <button type="button" class="btn btn-primary" id="button1" onclick="changeVisibility()">Hello Primary</button>
            <button type="button" class="btn btn-primary" id="button6" onclick="getChildren(this.id)">Add new buttons</button>
        </div>

<!--
<form action="/process" method="POST">-->
<!--            <div class="form-group">-->
<!--                <label for="paragraph1">D3 Code</label>-->
<!--                <textarea class="form-control" name="paragraph1" rows="5" id="paragraph1"></textarea>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="paragraph2">Data:</label>-->
<!--                <textarea class="form-control" name="paragraph2" rows="5" id="paragraph2"></textarea>-->
<!--            </div>-->
<!--            <button type="submit" class="btn btn-primary">Submit</button>-->
<!--        </form>-->
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/arrow-line/dist/arrow-line.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leader-line/1.0.7/leader-line.min.js" integrity="sha512-0dNdzMjpT6pJdFGF1DwybFCfm3K/lzHhxaMXC/92J9/DZujHlqYFqmhTOAoD0o+LkeEsVK2ar/ESs7/Q2B6wJg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>

            function getChildren(idName){



                //assume that this will be the response received
                var jsonResponse = [
                    {
                        id:"button6",
                        children:
                        [
                            {
                                id:"button7",
                                class:"btn btn-primary",
                                topic:"New Button"
                            },
                            {
                                id:"button8",
                                class:"btn btn-primary",
                                topic:"New Button"
                            },

                        ],
                        container:"container2",
                    },
                    {
                        id:"button7",
                        children:[
                            {
                                id:"button9",
                                class:"btn btn-primary",
                                topic:"New Button"
                            },
                            {
                                id:"button10",
                                class:"btn btn-primary",
                                topic:"New Button"
                            },
                        ],
                        container:"container3",
                    },
                    {
                        id:"button8",
                        children:[
                            {
                                id:"button11",
                                class:"btn btn-primary",
                                topic:"New Button"
                            },
                            {
                                id:"button12",
                                class:"btn btn-primary",
                                topic:"New Button"
                            },
                        ],
                        container:"container3",
                    },
                ]

                console.log("In function");

                for(var i=0;i<jsonResponse.length;i++)
                {
                    console.log(idName);
                    var element = jsonResponse[i];
                    //console.log(element);
                    if(element.id === idName)
                    {

                        var children = element.children;
                        var childrenDivId = element.container;
                        var selectedDiv = document.getElementById(childrenDivId);
                        if(selectedDiv === null)
                        {
                            var selectedContainer = document.getElementsByClassName("container")[0];
                            console.log(selectedContainer);
                            console.log(childrenDivId);
                            selectedDiv = document.createElement("div");
                            selectedDiv.id = childrenDivId
                            selectedContainer.appendChild(selectedDiv);
                        }

                        for(let j=0;j<children.length;j++)
                        {
                            var newButtonId = children[j].id;
                            var clickedId = idName;
                            var button = document.createElement("button");
                            button.innerHTML = children[j].topic;
                            button.id = children[j].id;
                            button.type = "button";
                            button.className = children[j].class;

                            selectedDiv.appendChild(button);
                            var myLine = new LeaderLine(
                                document.getElementById(clickedId),
                                document.getElementById(newButtonId),
                            );
                            button.addEventListener("click",()=>{
                                getChildren(button.id);
                            });
                        }
                    }
                }

                document.getElementById(idName).disabled = true;


            }



            function addButton(){
                var selectedDiv = document.getElementById("buttonContainer2");
                var button = document.createElement("button");
                button.innerHTML = "New button";
                button.id = "newButton";
                button.type = "button";
                button.className = ".btn btn-primary";
                selectedDiv.appendChild(button);
                const arrow = arrowLine("#button6","#newButton",{color:'red'});
            }

            function changeVisibility(){
                var selectedItems = document.querySelectorAll(".btn-hidden");
                selectedItems.forEach((item) => {
                    item.style.visibility = "visible"
                    var selectedId = item.getAttribute("id");
                    var idName = "#"+selectedId;
                    const arrow = arrowLine('#button1', idName, { color: 'blue' });
                })

            }
     </script>
</body>
</html>
